﻿@model kutse_app.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<div>
    <p> Tänan sind, @Model.Name </p>
</div>
<div>
    @if (Model.WillAttend == true)
    {
        @: Ootan sind kallis sõber!
        <p>
            <img src="~/Images/zxccat.jpg" />
        </p>
    }
    else
    {
        @: Väga kurb uudis. Näeme hiljem!
        <p>
            <img src="~/Images/zxccat_terrorblade.jpg" />
        </p>
    }
    @ViewBag.Message
    @Html.ActionLink("Vastan", "Ankeet", "Ankeet", new { @class = "btn btn-primary" })
</div>